body { 
	font-size: 80%;
	font-family:Verdana,Sans-serif;
}
#envelope { font-size: 1.0em }
h1 { font-size: 1.6em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }
p, ul { font-size: 0.9em; }
ul ul { font-size: 1.0em; }
p { text-indent: 3em; }

#name_top { position:relative; border-bottom: solid 0.5em gray; }
#contact { position:absolute; bottom:0.25em; right:0; }
#name { margin:0; padding-bottom:0.25em; }
#address { clear:both; }
#education { clear:both; margin-bottom:4em; }

a, a:link, a:visited, a:hover { color:black; text-decoration: none; }

table { border-collapse: collapse; border: solid 1px black; }
thead, td.head_col, .business, .degree { font-weight: bold; }
td { border: solid 1px black; padding:0.5em; vertical-align:top; }
td ul { margin: 0; padding:0 0 0 1em; }
ul li ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}
ul li ul li:before {
	content: "\00BB \2003";
}
.job_title { font-style: italic; } 
.school { margin-bottom: 0.5em; }
.school .description { margin-left: 1.5em; font-style:italic; }

div#technical_summary
{
	margin-bottom: 1em;
	height: 225px;
}
div#technical_summary h3
{
	text-align: center;
}
div#technical_summary div#column1
{
	float:left;
	border-right: solid 1px black;
	padding-right: 1.5em;
}
div#technical_summary div#column2
{
	float: right;
}
div#technical_summary table, div#technical_summary table tr td
{
	border: none;
	padding: 0;
}
div#technical_summary table tr td
{
	width: 25%;
}
div#technical_summary table
{
	width: 100%;
}
div#technical_summary table#apis
{
	margin-bottom: 2.3em;
}
div#technical_summary table ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
div#technical_summary table ul li
{
	text-indent: -3em;
	margin-left: 3em;
	font-size: 0.8em;
}
#pdf { display: none; }